//variables

//colors
$header-color: #80c5ed;
$nav-color: #0a163c;
$nav-text-color:#ffff;
$nav-hover-color: #80c5ed;
$nav-hover-text: #0a163c;
$body-color: #80c5ed;
$body-text-color:$nav-color;
$main-color: #ffff;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

$font: 'Roboto', sans-serif;