@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
@keyframes center {
  100% {
    transform: scale(1.25);
  }
}
header, footer {
  background-color: #80c5ed;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}
nav ul li a {
  display: block;
  background-color: #0a163c;
  color: #ffff;
  text-align: center;
  padding: 0.5em;
  height: 100%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
nav ul li a:hover {
  background-color: #80c5ed;
  color: #0a163c;
}

.homeNav li {
  display: none;
}
.homeNav li:first-child {
  display: block;
}

.menu li {
  display: block;
}

.logoimg {
  max-width: 100%;
}

.flyer-div {
  max-width: 100%;
  padding: 1em;
}

.flyer {
  margin-top: 1em;
  max-width: 100%;
  border: solid #0a163c 2px;
  text-align: center;
}

.talentfest, .suzysignup, .vendorSignup {
  margin: auto;
  padding: 1em;
  text-align: center;
  width: 90%;
}

.flyer-grid {
  padding: 1em;
}

h2, p, h3, h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.grand-marshalls {
  border: solid 8px #80c5ed;
  margin: 0.5em;
  padding: 0.5em;
  max-width: 100%;
  background-color: #0a163c;
  color: #fff;
}
.grand-marshalls .grand-marshall-img {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

footer {
  text-align: center;
  vertical-align: center;
  margin: 0 auto;
  padding: 0.5em;
}
footer .socialIcons a {
  padding: 1em;
}
footer .signature {
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
}

a {
  color: #0a163c;
}

.ent-main {
  padding: 1em;
}
.ent-main .ent-1, .ent-main .ent-2 {
  width: 100%;
  margin: 0;
  text-align: center;
}

.voting-div {
  width: 40%;
  height: 100%;
  padding: 1em;
  background-color: #80c5ed;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid 2px #0a163c;
  border-radius: 15px;
  font-size: 35px;
}
.voting-div a {
  text-decoration: none;
  color: #fff;
}
.voting-div:hover {
  background-color: #0a163c;
  border-color: #80c5ed;
}

@media (min-width: 36em) {
  .homeNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .homeNav li {
    display: block;
  }
  .homeNav li:first-child {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .logoimg {
    grid-column: 1/3;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
  }

  nav {
    grid-row: 2/3;
    grid-column: 1/4;
  }

  .grand-marshalls {
    margin: 7em;
    padding: 4em;
  }
  .grand-marshalls .grand-marshall-img {
    border: solid 8px #80c5ed;
  }

  .flyer-div {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .information {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: auto;
    text-align: center;
  }

  .volunteers {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
    text-align: center;
  }

  .events-schedule {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: auto;
    text-align: center;
  }

  .flyer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .ent-schedule {
    display: flex;
    flex-flow: row;
  }
  .ent-schedule .ent-1, .ent-schedule .ent-2 {
    margin: 0.5em;
  }

  .vendor-div {
    display: flex;
  }
  .vendor-div .flyer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}
@media (min-width: 52em) {
  .logoimg {
    max-width: 70%;
  }

  .flyer-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .left:hover {
    animation: center 0.5s ease-in forwards;
  }

  .center:hover {
    animation: center 0.5s ease-in forwards;
  }

  .right:hover {
    animation: center 0.5s ease-in forwards;
  }

  .events-schedule {
    width: 90%;
  }
}

/*# sourceMappingURL=index.css.map */
